! special
*.foreground: #c9d7d9
*.background: #382e2d
*.cursorColor: #c9d7d9

! black
*.color0: #c3b6b4
*.color8: #dfd1d0

! red
*.color1: #ff7973
*.color9: #ff968d

! green
*.color2: #00d56b
*.color10: #31f285

! yellow
*.color3: #dcb500
*.color11: #fbd127

! blue
*.color4: #00c1ff
*.color12: #00ddff

! magenta
*.color5: #ff82ff
*.color13: #ff9fff

! cyan
*.color6: #00daff
*.color14: #00f7ff

! white
*.color7: #ffffff
*.color15: #ffffff

